/* Fondo general */
.reveal {
  background-color: #ffffff;  /* blanco */
  color: #333333;             /* gris oscuro para texto */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Logo UMA fijo arriba a la izquierda */
.reveal::before {
  content: "";
  position: fixed;
  top: 20px;
  left: 20px;
  width: 550px;   /* más ancho */
  height: 200px;  /* más alto */
  background-image: url("./private_imgs/UMA_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  z-index: 1000;
  opacity: 0.95;
  pointer-events: none;
}

.reveal pre code {
  max-height: none !important;
  font-size: 0.8em; /* ajusta tamaño si quieres */
}

/* Títulos de segundo nivel (==) */
.reveal h2 {
  font-size: 1.2em !important;  /* default suele ser ~2.5em */
  color: #002B5B !important;
  font-weight: bold;
  margin-top: -100px !important; /* súbelo, ajusta el valor según quieras */
}

/* Texto normal */
.reveal section p,
.reveal section li {
  font-size: 0.9em !important; /* más pequeño */
}

/* Rol opcional para textos más compactos */
.reveal .small-text {
  font-size: 0.8em !important;
}
.reveal .small-title {
  font-size: 1.2em !important;
}
